<h1>Listing  Links</h1>
<table>
  <thead>
    <tr>
      <th>Link</th>
      <td></td>
      <th>Tag</th>
      <td></td>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for link <- @links do %>
    <tr>
      <td><%= link.link %></td>
      <td></td>
      <td><%= link.tag %></td>
      <td></td>
      <td><%= link.description %></td>
      <td></td>
      </tr>
    <% end %>
  </tbody>
</table>


